/ALGO/nbproject/private/
/ALGO/build/
/ExoAlgo/nbproject/private/
/ExoAlgo/build/
/Examen/nbproject/private/
/Examen/build/
/Java++/nbproject/private/
/Java++/build/
/Tetrisserie/nbproject/private/
/Tetrisserie/build/